.container{
    width:86vw;
    margin:auto;
    border-style:solid;
}

.hidden{
    display:none;
    height:0px;
    opacity:0;
    overflow-y: none;
}

#main_buttons{
    
    width:95%;
    margin:auto;
    margin-top:1vh;
    display:flex;
    flex-direction: row;
    /* border-style: solid; */
}

#main_buttons button{
    width:100%;
    background-color: #BEC3C6;
    border-radius: 5vh;
    height:3vh;
    font-size: 2vh;
}

#controls{
    height:10vh;
    width:100%;
    display:flex;
    flex-direction:column;
    margin-bottom:3vh;
    border-radius: 2vh;

}


.area{
    min-height:80vh;
}

#main_buttons .active_button{
    background-color:#9C0D38;
    color:#F6F8FF;
}

.inputs{
    color:black;
    width:60vw;
    border-style:solid;
    margin:auto;
    display:block;
}

select:invalid{
    color: gray;
}

#select_name{
    margin:auto;
    align-content: center;
    /* margin-bottom:2vh; */
    height:10vh;
    width:75vw;
    border-color:white;
    /* border-style:dashed; */
}
#select_name p {
    margin: 0 0 0 0;
}

.menu{
    width:15vw;
    height:6vh;
    color:#F6F8FF;
    border-style:solid;
    background-color: #F25F5C;
    border-radius: 5vh;
    font-size:2.5vmin;
    /* display:flex;
    flex-direction:row; */

}
#set_select{
    width:70vw;
    font-size: 2vh;
}

#set_name{
    width:70vw;
}

.danger{
    background-color:#9C0D38;
    border-color:red;
}

.remove{
   background-color: transparent;
   color: white;
   border-style:none;
   /* border-right: 50vw solid transparent ;
   border-left: 50vw solid transparent ;
   border-bottom: 20vw solid black ; */
}

#additional_options{
    border-radius: 2vh;
    padding: 5px;
    position:fixed;
    top:7vh;
    left:12vw;
    min-height:10vh;
    max-height:67vh;
    background-color: rgba(255,255,255,0.8);
    width:75vw;
}


.text_area{
    width:95%;
    height:50vh;
    margin-top:2vh;

}

/* #question{display:block;} */

#logo{
    position:fixed;
    top:30vh;
    left: 30vw;
    width:40vw;
    height:40vh;
}

.control{
    border-style:solid;
    background-color: #F25F5C;
    color:white;
    border-radius: 2vh;
}

.fas.fa-archive{color:white}


.archived{
    margin-top: 1vh;
    height:7vh;
    display:flex;
    flex-direction: row;
    border-style:solid;
}

.archived>div p{
    margin:0 0 0 0 
}

.archived>div:first-child{
    width:80%;
    border-style:dashed;
    display:flex;
    flex-direction: column;
    justify-content: center;
}



.archived>div:last-child{
    width:20%;
    border-style:dashed;
    display: flex;
    flex-direction: column;
   /* align-items: center; */
  justify-content: center; 
    
}